body {
  background-color: #eeedee;
  height: auto;
}

/*.background{
  position: fixed;
  top:0;
  right:0;
  left:0;
  height:50px;
  background:gray;
}*/

nav {
  width: 50%;
  float: right;
  padding-top: 40px;
}

nav ul li:hover a {
    color: #000000;
}

li.selected a {
  color: #000000;
}

.logo {
  display: flex;
  float: left;
  width: 50%;
  height: 100px;
}

.menuwrapper {
  width: 1024px;
  height: 100px;
  clear: both;
  align-items: center;
  position: fixed;
  background-color: #eeedee;
}

#container {
  position: relative;
  width: 1024px;
  height: 100px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  z-index: 9000;
}

li {
  display: inline;
  width: 65px;
}

a {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 13px;
  text-transform: uppercase;
  color:#A9A9A9;
  font-weight: 800;
}

ul {
  display: flex;
  justify-content: space-between;
}

.projects {
  width: 100%;
  height: auto;
}

.column {
  max-width: 25%;
  display: inline-block;
  height: auto;
  float: left;
}

.onarow {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  height: auto;
}

.owl-carousel .item {
    clear: left;
    height: 400px;
    overflow: hidden;
}

.field {
  font-family: 'Raleway';
  font-size: 13px;
  color: #696969;
}

.title {
  font-family: 'Raleway';
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  width: 50%;
}

.value {
  margin-top: 2px;
  margin-bottom: 2px;
}

/*
.info{
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
}*/

footer {
  display: block;
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.footer, .push {
  height: 200px;
}

.box {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.profil .box {
  height: 1436px;
}

.field {
  display: inline-flex;
  width: 100%;
}

 label {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 11px;
  color: #000000;
  font-weight: 900;
  text-align: left;
  display: block;
  width: 50%;
}

 .value {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-style: normal;
  color: #696969;
  text-align: right;
  width: 50%;
}

.content {
  width: 100%;
}

.content_left {
  background-color: #E0E0E0;
  display: inline-block;
  clear: both;
  float: left;
  width: 600px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content_right {
  background-color: #E0E0E0;
  display: inline-block;
  float: right;
  width: 600px;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.activity_line {
  width: 1024px;
  height: auto;
}

.user {
 width: 100%;
 height: 300px;
 overflow: hidden;
 display: inline-block;
 text-align: center;
 float: left;
 z-index: -9000;
}

.column1 {
  width: 50%;
  display: inline-block;
  float: left;
  height: 900px;
  border-right: 1px solid #9A9A9A;
}

.column2 {
  width: 49%;
  display: inline-block;
  float: left;
  height: 900px;
  border-left: 1px solid #9A9A9A;
}

.timeline_item {
  border-top: 2px solid #F1F2F2;
  position: relative;
  padding-top: 15px;
}

.circle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
  background-color: #E9C11E;
	position: absolute;
  top: -6px;
  right: -6px;
}

.column2 .circle {
  left: -6px;
}

.date {
  position: absolute;
  top: -7px;
  background-color: #eeedee;
  padding-right: 6px;

}

.column2 .date {
  right: 0;
  float: right;
  padding-left: 6px;
  padding-right: 0;
}

.column2 .timeline_item h3, .column2 .timeline_item p, .column2 .timeline_item div {
  float: right;
}
.column2 .timeline_item p {
  width: 100%;
  text-align: right;
}


.left-1 { height: 90px; }
.left-2 { height: 90px; }
.left-3 { height: 90px; }

.right-1 { height: 340px; }
