body{
  background-color:#eeedee;
  height: auto;
}

/*.background{
  position: fixed;
  top:0;
  right:0;
  left:0;
  height:50px;
  background:gray;
}*/
.top{
  position: fixed;
  margin-top: 0;
  margin-right:0;
  margin-left:0;
  width: 1024px;
  height:50px;
  color:gray;
}
nav{
  width: 50%;
  float:right;
  padding-top:40px;
}

nav ul li:hover a{
    color:#000000;
}

li.selected a {
  color:#000000;
}

.logo{
  display: flex;
  float: left;
  width: 50%;
  height: 100px;
}

.menuwrapper{
  width: 100%;
  height: 100px;
  clear: both;
  align-items: center;
  background-color:#eeedee;
}

li{
  display: inline;
  width: 65px;
}

a{
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 13px;
  text-transform: uppercase;
  color:#A9A9A9;
  font-weight: 800;
}

ul{
  display: flex;
  justify-content: space-between;
}

.projects{
  width: 100%;
  height: auto;
}

.column{
  max-width: 25%;
  display: inline-block;
  height: auto;
  float: left;
}

.onarow{
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  height: auto;
}

.owl-carousel .item {
    clear: left;
    height: 400px;
    overflow: hidden;
}

.field{
  font-family: 'Raleway';
  font-size: 13px;
  color: #696969;
}

.title{
  font-family: 'Raleway';
  font-size: 13px;
  color: #696969;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  width: 50%;
}

.value{
  margin-top: 2px;
  margin-bottom: 2px;
}
/*
.info{
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
}*/

footer{
  display: block;
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.footer, .push {
  height: 200px;
}

.box {
  width: 1024px;
  min-height:100%;
  margin: 0 auto;
}

.field{
  display: inline-flex;
  width: 100%;
}

.field label{
  font-family: "Roboto";
  font-style: normal;
  font-size: 11px;
  color: #5b5058;
  font-weight: bold;
  text-align: left;
  width: 50%;
}

 .field .value{
  font-family: 'Railway',sans-serif;
  font-size: 11px;
  font-style: normal;
  color: #5b5058;
  text-align: left;
  width: 100%;
}


.content{
  display: flex;
}

.content_right {
  display: block;
  float: left;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
